.game {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.statusBar {
    flex-basis: 150px;
    border-left: 1px solid #ccc;
    flex-shrink: 0;
    overflow: scroll;
    background-color: #dedede;
}

.mediaWikiPage {
    height: calc(100vh - 150px); /* カスタムプロパティ未対応ブラウザ用のフォールバック */
    height: calc(var(--vh, 1vh) * 100 - 150px);
    overflow: scroll;
}

.playerLog {
    width: 100%;
    overflow: scroll;
    white-space: nowrap;
}

.bold {
    font-weight: bold;
}
.hiddenContent {
    opacity: 0.8;
    pointer-events: none;
    filter: blur(3px);
}

/* Wikipedia Specific */

#toc {
    display: none;
}

.mw-ui-icon-flush-left {
    display: none !important;
}